<turbo-frame id="new_address">
  <%= form_with(model: [ :admin, @hotel ], local: true, class: "flex flex-col justify-center") do |f| %>
    <% if @address.errors.any? %>
      <div id="error_explanation" class="flex flex-col items-center">
        <h2 class="text-text-color/50"><%= pluralize(@address.errors.count, "error") %> prohibited this address from being added:</h2>
        <ul class="text-error">
          <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="my-2">
      <%= f.fields_for :address, @hotel.address.build do |af| %>
        <div class="input-container mt-1">
          <%= af.label :dzongkhag, class: "w-32" %>
          <%= af.text_field :dzongkhag, class: "input-field" %>
        </div>
        <div class="input-container">
          <%= af.label :gewog, class: "w-32" %>
          <%= af.text_field :gewog, class: "input-field" %>
        </div>
        <div class="input-container">
          <%= af.label :street_address, class: "w-32 self-start pt-2" %>
          <%= af.textarea :street_address, class: "input-field" %>
        </div>
      <% end %>
    </div>
    <div class="flex items-center mt-4 gap-5">
      <%= f.submit "Save", class: "btn" %>
      <%= link_to "Cancel", admin_hotels_path(@hotel), class: "btn" %>
    </div>
  <% end %>
</turbo-frame>
