<div class="border-b hover:bg-background group flex justify-between items-center p-2">
  <div class="w-[20%] flex justify-center">
    <% if amenity.image&.attached? %>
      <%= image_tag(amenity.image, class: "icon icon-button w-11 h-11 p-2 group-hover:bg-white") %>
    <% else %>
      <%= image_tag("https://placehold.co/50x50",  class: "icon icon-button w-11 h-11 group-hover:bg-white") %>
    <% end %>
  </div>
  <div class="flex-1  text-center text-gray-800">
    <%= amenity.name %>
  </div>
  <div class="flex-1 text-center" data-controller="popover">
    <div
    class="fixed inset-0 w-full h-full bg-black bg-opacity-30 z-10 hidden"
    data-popover-target="test"
    data-action="click->popover#toggle"></div>

    <div class="flex justify-center items-center gap-4">
      <%= link_to edit_admin_hotel_amenity_path(@hotel, amenity), class: "hidden md:block", data: { "turbo-frame": "amenity"} do %>
        <button class="icon icon-button p-2 group-hover:bg-white">
          <%= icon('fa-solid', 'pen-to-square', class: "text-secondary") %>
        </button>
      <% end %>

      <%= link_to admin_hotel_amenity_path(@hotel, amenity), class: "hidden md:block", data: {"turbo-method": :delete, "turbo-frame": dom_id(amenity), "turbo-confirm": "Are you sure to delete?"} do %>
        <button class="icon icon-button p-2 group-hover:bg-white hidden md:block">
          <%= icon('fa-solid', 'trash', class: "text-error") %>
        </button>
      <% end %>
      <button class="icon icon-button p-2 group-hover:bg-white md:hidden" data-action="click->popover#toggle">
        <%= icon('fa-solid', 'ellipsis', class: "text-primary-regular") %>
      </button>

      <div data-popover-target="popover" class="hidden fixed mt-0 right-4  bg-white border rounded shadow-lg z-50">
        <div class="flex flex-col items-start">
          <%= link_to 'Edit', edit_admin_hotel_amenity_path(@hotel, amenity), class: "block px-4 py-2 underline text-secondary", data: { "turbo-frame": "amenity"} %>
          <%= link_to 'Delete', admin_hotel_amenity_path(@hotel, amenity), data: { turbo_method: :delete, confirm: "Are you sure to delete?", turbo_frame: dom_id(amenity) }, class: "block border-t px-4 py-2 underline text-error" %>
        </div>
      </div>
    </div>
  </div>
</div>
