<div class="border-b hover:bg-background group flex justify-between items-center p-2">
  <div class="w-1/3 flex justify-center">
    <% if amenity.image&.attached? %>
      <%= image_tag(amenity.image, class: "icon p-1 group-hover:bg-white") %>
    <% else %>
      <%= image_tag("https://via.placeholder.com/50",  class: "icon p-1 bg-background group-hover:bg-white") %>
    <% end %>
  </div>
  <div class="w-1/3 text-center text-gray-800">
    <%= amenity.name %>
  </div>
  <div class="w-1/3 text-center">
    <div class="flex justify-center items-center gap-4">
      <%= link_to edit_admin_hotel_amenity_path(@hotel, amenity), data: { "turbo-frame": "amenity"} do %>
        <button class="icon-button group-hover:bg-white">
          <%= icon('fa-solid', 'pen-to-square', class: "text-primary-regular") %>
        </button>
      <% end %>

      <%= link_to admin_hotel_amenity_path(@hotel, amenity), data: {"turbo-method": :delete, "turbo-frame": dom_id(amenity), "turbo-confirm": "Are you sure to delete?"} do %>
        <button class="icon-button group-hover:bg-white">
          <%= icon('fa-solid', 'trash', class: "text-primary-regular") %>
        </button>
      <% end %>
    </div>
  </div>
</div>
