<div class="m-4">
  <%= form_with(model: [:admins, @hotel, room], local: true, class: "flex flex-col justify-center") do |f| %>
    <% if room.errors.any? %>
      <div id="error_explanation" class="flex flex-col items-center">
        <h2 class="text-text-color/50"><%= pluralize(room.errors.count, "error") %>!:</h2>
        <ul class="text-error">
          <% room.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="my-1 w-full">
      <div class="my-2">
        <div class="flex flex-col" data-controller="avatar">
          <div class="relative flex flex-row justify-center shrink-0 my-2 ml-2 gap-2">
            <%= image_tag(room&.primary_image&.attached? ? room.primary_image : "https://placehold.co/200x200", class:"w-96 h-48 object-cover rounded-lg border bg:white z-0", data: {avatar_target: "imagePreview"} ) %>
            <div class="self-start icon p-4 hover:cursor-pointer" data-action="click->avatar#selectImage">
              <%= icon('fa-solid', 'pen-to-square', class: "text-primary-regular") %>
            </div>
            <%= f.file_field :image, multiple: true, accept: "image/*", data: {avatar_target: "avatarUpload", action: "change->avatar#showPreview"}, class: "hidden" %>
          </div>
        </div>
      </div>

      <div class="input-container">
        <%= f.label :room_number, class: "input-label" %>
        <%= f.text_field :room_number, class: "input-field" %>
      </div>
      <div class="input-container">
        <%= f.label :floor_number, class: "input-label" %>
        <%= f.number_field :floor_number, rows: 3, class: "input-field", min: 0, max:10 %>
      </div>
      <div class="input-container">
        <%= f.label :description, class: "input-label" %>
        <%= f.textarea :description, class: "input-field" %>
      </div>
      <div class="input-container">
        <%= f.label :max_no_adult, class: "input-label" %>
        <%= f.number_field :max_no_adult, class: "input-field" %>
      </div>
      <div class="input-container">
        <%= f.label :max_no_children, class: "input-label" %>
        <%= f.number_field :max_no_children, class: "input-field" %> ,
      </div>
      <div class="input-container">
        <%= f.label :status, class: "input-label" %>
        <%= f.select :status, Room.statuses.keys.map { |d| [d.humanize, d] } %>
      </div>

    </div>
    <hr class="bg-primary-regular h-0.5">
    <div class="flex items-center mt-4 gap-5">
      <%= f.submit "Save", class: "btn", data: { turbo_frame: "_top"} %>
      <%= link_to "Cancel",admins_hotel_room_path(@hotel, room) || admins_hotel_rooms_path(@hotel), class: "btn", data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
</div>
