<turbo-frame id="<%= dom_id room %>">
  <section class="card-container mb-4">
    <div class="card hover:shadow-lg ">
      <div class="relative p-4 ">
        <div class="flex flex-col gap-4 ">
          <div class="flex flex-col gap-2">
            <div class="flex justify-between items-center">
              <h2 class="title"><%= room.room_category.name %></h2>
              <p class="absolute top-0 right-0 p-2 text-white  <%= status_class(room.status) %>">
                <%= room.status.to_s.humanize %>
              </p>
            </div>
            <div>
              <% rating = room.room_ratings.average(:rating) || 0 %>
              <% stars = Room.calculate_rating(rating) %>
              <%= render 'shared/rating', rating: rating, stars: stars %>
            </div>
            <p class="text-sm text-text-color/50"><%= room.description %></p>
          </div>
          <div class="flex flex-col items-start">
            <p class="flex mt-1">
              <span class="input-label-sm text-text-color/50 ">Room No:</span>
              <span class="input-value text-primary-regular"><%= room.room_number %></span>
            </p>
            <p class="flex mt-1">
              <span class="input-label-sm text-text-color/50">Floor No:</span>
              <span class="input-value text-primary-regular"><%= room.floor_number %></span>
            </p>
            <p class="flex mt-1">
              <span class="input-label-sm text-text-color/50">Max no of Adults:</span>
              <span class="input-value text-primary-regular"><%= room.max_no_adult %></span>
            </p>
            <p class="flex mt-1">
              <span class="input-label-sm  text-text-color/50">Max no of Children:</span>
              <span class="input-value text-primary-regular"><%= room.max_no_children %></span>
            </p>
          </div>
          <div class="flex justify-between items-center mt-2 ">
            <div>
              <%= link_to "Reservation", new_admins_hotel_room_booking_path(@hotel, room), data: { turbo_frame: "_top"} ,class: "btn" %>
            </div>
            <p>Nu. <span class="font-bold text-2xl text-primary-regular"><%= room.base_price.to_i.to_s %></span> Night </p>
          </div>
          <hr class="bg-primary-regular h-0.5">
          <div class="flex justify-between items-center mt-2 gap-2">
            <div>
              <%= link_to "Back", admins_hotel_rooms_path(@hotel), data: { turbo_frame: "_top"} ,class: "btn" %>
            </div>
            <div>
              <%= link_to "Edit", edit_admins_hotel_room_path(@hotel, room), class: "btn" %>
              <%= link_to 'Delete', admins_hotel_room_path(@hotel, room), data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete?", turbo_frame: "_top" }, class: "btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card p-4 flex flex-col gap-4">
      <div>
        <p class="title mb-2">Primary Image:</p>
        <div class="image-cropper md:card-wrapper-sm mx-auto">
          <%= image_tag( room&.persisted? ? room&.image : "https://placehold.co/100x100", class: "image") %>
        </div>
      </div>
      <div>
        <p class="title mb-2">Images:</p>
        <div class="flex flex-wrap justify-evenly mb-2 gap-4">
          <% room.images.each do |image| %>
            <div class="image-cropper">
              <%= image_tag( room&.persisted? ? image : "https://placehold.co/100x100", class: "image") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card p-4">
      <div>
        <p class="title mb-2">Bed Type</p>
        <div>
          <%= form_with(model: RoomBedType.new, url: admins_hotel_room_room_bed_types_path(@hotel, room), method: :post, local: true) do |form| %>
            <div class="flex justify-between gap-4">
              <%= form.collection_select :bed_type_id, BedType.all, :id, :name, { prompt: "Add Bed Type" }, class: "input-field bg-white" %>
              <%= form.number_field :num_of_bed, value: nil, placeholder: "Number of bed", min: 1, max: 10, class: "input-field" %>
              <%= form.submit "add", class: "btn cursor-pointer" %>
            </div>
          <% end %>
        </div>

        <div class="bg-background p-2 border-b">
          <div class="flex justify-between items-center text-sm font-medium text-gray-700 py-2">
            <h3 class="w-[20%] text-center">Number of Bed</h3>
            <h3 class="flex-1 text-center">Bed Type</h3>
            <h3 class="w-[20%] text-center">Action</h3>
          </div>
        </div>
        <div>
          <% if room.room_bed_types.blank? %>
            <h3 class="text-text-color/50 text-center mt-4 p-2">No Bed Type!</h3>
          <% else %>
            <% room.room_bed_types.each do |room_bed_type| %>
              <div class="flex justify-between items-center p-3 border-b hover:bg-background group">
                <p class="w-[20%] text-center"><%= room_bed_type.bed_type.name %></p>
                <p class="flex-1 text-center"><%= room_bed_type.num_of_bed %></p>
                <%= link_to admins_hotel_room_room_bed_type_path(@hotel, room, room_bed_type), class: "w-[20%] text-center", data: {"turbo-method": :delete, "turbo-confirm": "Are you sure to delete?"} do %>
                  <button class="icon icon-button p-2 group-hover:bg-white text-center">
                    <%= icon('fa-solid', 'trash', class: "text-error") %>
                  </button>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card p-4">
      <div>
        <p class="title mb-2">Room Facility</p>
        <div>
          <%= form_with(model: RoomFacility.new, url: admins_hotel_room_room_facilities_path(@hotel, room), method: :post, local: true) do |form| %>
            <div class="flex justify-between gap-4">
              <%= form.collection_select :facility_id, Facility.all, :id, :name, { prompt: "Add Facility" }, class: "input-field bg-white" %>
              <%= form.submit "add", class: "btn cursor-pointer" %>
            </div>
          <% end %>
        </div>
        <div class="bg-background p-2 border-b">
          <div class="flex justify-between items-center text-sm font-medium text-gray-700 py-2">
            <h3 class="w-[20%] text-center">Image</h3>
            <h3 class="flex-1 text-center">Name</h3>
            <h3 class="w-[20%] text-center">Action</h3>
          </div>
        </div>
        <div>
          <% if room.room_facilities.blank? %>
            <h3 class="text-text-color/50 text-center mt-4 p-2">No Bed Type!</h3>
          <% else %>
            <% room.room_facilities.each do |room_facility| %>
              <div class="flex justify-between items-center p-3 border-b hover:bg-background group">
                <div class="w-[20%] flex justify-center">
                  <%= image_tag((room_facility.facility&.image&.attached? ? room_facility.facility.image : "https://placehold.co/50x50"),
                                class: "icon icon-button w-11 h-11 p-2 group-hover:bg-white") %>
                </div>
                <p class="flex-1 text-center"><%= room_facility.facility.name %></p>
                <%= link_to admins_hotel_room_room_facility_path(@hotel, room, room_facility), class: "w-[20%] text-center", data: {"turbo-method": :delete, "turbo-confirm": "Are you sure to delete?"} do %>
                  <button class="icon icon-button p-2 group-hover:bg-white text-center">
                    <%= icon('fa-solid', 'trash', class: "text-error") %>
                  </button>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</turbo-frame>
