<div>
  <%= form_with(model: [ :admins, facility] , local: true, class: "flex flex-col justify-center")  do |f| %>
    <% if facility.errors.any? %>
      <div id="error_explanation" class="flex flex-col items-center">
        <h2 class="text-text-color/50"><%= pluralize(facility.errors.count, "error") %>:</h2>
        <ul class="text-error">
          <% facility.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="my-2">
      <div class="my-2">
        <div class="flex flex-col" data-controller="avatar">
          <div class="relative flex flex-row justify-center shrink-0">
            <%= image_tag((facility&.image&.attached? ? facility.image : "https://placehold.co/200x200"),
                          class: "image-upload", data: { avatar_target: "imagePreview"}) %>
            <div class="self-start icon p-4 hover:cursor-pointer" data-action="click->avatar#selectImage">
              <%= icon('fa-solid', 'pen-to-square', class: "text-primary-regular") %>
            </div>
            <%= f.file_field :image, accept: "image/*", data: {avatar_target: "avatarUpload", action: "change->avatar#showPreview"}, class: "hidden" %>
          </div>
        </div>
      </div>

      <div class="input-container">
        <%= f.label :name, class: "w-32 shrink-0 self-start pt-2" %>
        <%= f.text_field :name, class: "input-field " %>
      </div>
    </div>
    <hr class="h-0.5 bg-primary-regular">
    <div class="flex items-center mt-4 gap-5">
      <%= f.submit "Save", class: "btn" %>
      <%= link_to "Cancel", admins_facilities_path, data: {"turbo-frame": "_top"}, class: "btn" %>
    </div>
  <% end %>
</div>
