<div class="card-container">
  <div class="card m-4">
    <div class="m-4">
      <turbo-frame id="facility">
        <div class="flex justify-between items-center mb-4">
          <div class="flex items-center space-x-3">
            <h2 class="title">Room Facilities</h2>
            <div>
              <%= form_with(url: admins_hotel_facilities_path(@hotel),
                            method: :get, data: { turbo_frame: "search_result", turbo_action: "advance", controller: "search" }) do |form| %>
                <%= form.search_field :query, class: "block p-2 mt-4 text-sm rounded border-2 focus:shadow-none focus:border-primary-regular focus:outline-none", placeholder: "Search", data: { action: "input->search#search"} %>
              <% end %>
            </div>
          </div>
          <div>
            <%= link_to "Add",
                        new_admins_hotel_facility_path(@hotel),
                        data: { "turbo-frame": "new_facility" },
                        class: "btn" %>
          </div>
        </div>
        <div class="my-4">
          <div class="w-full overflow-hidden">
            <div class="bg-background p-2 border-b">
              <div class="flex justify-between items-center text-sm font-medium text-gray-700 p-2">
                <h3 class="w-[20%] text-center">Image</h3>
                <h3 class="flex-1 text-center">Name</h3>
                <h3 class="flex-1 text-center">Actions</h3>
              </div>
            </div>
            <div id="amenities">
              <turbo-frame id="search_result">
                <% if @facilities.blank? %>
                  <h3 class="text-text-color/50 text-center mt-4 p-2">No Data found!</h3>
                <% else %>
                  <% @facilities.each do |facility| %>
                    <turbo-frame id="facility_<%= facility.id %>">
                      <%= render "admins/facilities/facility", facility: facility %>
                    </turbo-frame>
                  <% end %>
                <% end %>
              </turbo-frame>
            </div>
            <div class="flex justify-end items-center mt-2">
              <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
            </div>
          </div>
        </div>
      </turbo-frame>
    </div>
  </div>
</div>
