
<div class="m-4">
  <%= form_with(model: [ :admins, hotel], class: "flex flex-col justify-center") do |f| %>
    <% if hotel.errors.any? %>
      <div id="error_explanation" class="flex flex-col items-center">
        <h2 class="text-text-color/50"><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>
        <ul class="text-error">
          <% hotel.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-1 w-full">
      <h2 class="title">Hotel Info</h2>
      <div class="input-container">
        <%= f.label :name, class: "input-label" %>
        <%= f.text_field :name, class: "input-field " %>
      </div>
      <div class="input-container">
        <%= f.label :description, class: "input-label" %>
        <%= f.textarea :description, class: "flex-grow break-words text-wrap input-field" %>
      </div>
      <div class="input-container">
        <%= f.label :email, class: "input-label" %>
        <%= f.email_field :email, class: "input-field" %>
      </div>
      <div class="input-container">
        <%= f.label :contact_no, class: "input-label" %>
        <%= f.text_field :contact_no, class: "input-field" %>
      </div>

    </div>
    <hr>
    <div class="my-2">
      <h2 class="title">Address</h2>
      <%= f.fields_for :address do |af| %>
        <div class="input-container mt-1 ">
          <%= af.label :dzongkhag, class: "input-label" %>
          <%= af.text_field :dzongkhag, class: "input-field" %>
        </div>
        <div class="input-container">
          <%= af.label :gewog, class: "input-label" %>
          <%= af.text_field :gewog, class: "input-field" %>
        </div>
        <div class="input-container">
          <%= af.label :street_address, class: "input-label" %>
          <%= af.textarea :street_address, class: "input-field" %>
        </div>
      <% end %>
    </div>

    <div>
      <p class="input-label">Images:</p>
      <div class="flex flex-col items-center gap-4" data-controller="image">
        <div class="flex items-center gap-4 p-2 border-2 border-dashed rounded border-primary-regular hover:shadow-lg hover:cursor-pointer mt-2" data-action="click->image#selectImage">
          <%= icon('fa-solid', 'image', class: "fa-2x p-2 avatar-wrapper items-center text-primary-regular") %>
          <span class="text-text-color/50 text-sm">Click to attach Image</span>
        </div>
        <div class="flex flex-1 flex-wrap justify-evenly items-center gap-5" data-image-target="imagesContainer">
          <% if hotel.persisted? %>
            <% hotel.images.each do |image| %>
              <div data-image-target="existingImageContainer">
                <div class="relative my-2">
                  <div class="relative image-wrapper">
                    <%= image_tag(image || "https://placehold.co/200x200", class: "image", data: { image_target: "imagePreview" }) %>
                  </div>
                  <div class="flex items-center justify-center absolute -top-4 -right-4 avatar-wrapper icon hover:cursor-pointer z-10" data-action="click->image#removeExistingImage">
                    <%= icon('fa-solid', 'xmark', class: "text-primary-regular") %>
                  </div>
                </div>
                <%= f.hidden_field :images, multiple:true, value: image.signed_id, id: "record" %>
              </div>
            <% end %>
          <% end %>
          <%= f.file_field :images, :multiple => true, accept: "image/*", data: { image_target: "imageInput", action: "change->image#addImage" }, class:"hidden" %>
        </div>
      </div>
    </div>
    <hr class="bg-primary-regular h-0.5">
    <div class="flex items-center mt-4 gap-5">
      <%= f.submit "Save", class: "btn" %>
      <%= link_to "Cancel", admins_admin_root_path, class: "btn", data: {turbo_frame: "_top"} %>
    </div>
  <% end %>
</div>
