<turbo-frame id="<%= dom_id offer %>">
  <div class="px-4 py-2 card-wrapper-md flex flex-col justify-center my-2" role="region" aria-labelledby="profile-<%= dom_id offer %>">
    <div class="card-image-wrapper-md">
      <%= image_tag(offer&.image || "https://placehold.co/200x200", class:"object-cover w-full h-full rounded" ) %>
    </div>
    <div class="my-2 flex flex-col gap-2">
      <h2 class="title"><%= offer.title %></h2>
      <p class="text-wrap text-text-color/50"><%= offer.description %></p>
    </div>
    <div class="my-2">
      <p class="flex items-center mt-1">
        <span class="w-24">Discount</span>
        <span class="text-primary-regular font-bold text-lg"><%= offer.discount.to_s %>%</span>
      </p>
    </div>

    <div class="flex flex-col items-start">
      <p class="flex mt-1">
        <span class="w-24">Start Date:</span>
        <span class="input-value"><%= offer.start_time.strftime("%b %d, %Y") %></span>
      </p>
      <p class="flex mt-1">
        <span class="w-24">End Date:</span>
        <span class="input-value"><%= offer.end_time.strftime("%b %d, %Y") %></span>
      </p>
    </div>
    <hr class="bg-primary-regular h-0.5 my-2">
    <div class="flex justify-between items-center gap-2 mt-2">
      <div>
        <%= link_to "Back", admins_hotel_offers_path(@hotel), data: { turbo_frame: "_top"} ,class: "btn" %>
      </div>
      <div>
        <%= link_to "Edit", edit_admins_hotel_offer_path(@hotel, offer),class: "btn" %>
        <%= link_to 'Delete', admins_hotel_offer_path(@hotel, offer), data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete?", turbo_frame: "_top" }, class: "btn" %>
      </div>
    </div>
  </div>
</turbo-frame>
