<!--<h2>Forgot your password?</h2>-->

<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Send me reset password instructions" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>

<div class="flex flex-row items-center justify-center w-full h-full">
  <div class="w-full md:w-1/2 flex justify-center items-center">
    <div class="w-full md:w-5/6 flex flex-col justify-start items-center p-8 shadow-lg border-primary-regular hover:bg-white transition ease-in-out duration-75 hover:border-none ">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), class: "bg-white") do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <h1 class="font-playfair font-bold text-primary-regular text-2xl text-center mb-4">Reset Password</h1>
        <div class="flex items-center border-2 border-primary-regular py-3 px-3 rounded mb-4">
          <%= icon('fa-solid', 'envelope', class: "text-primary-regular") %>
          <%= f.email_field :email, class: 'pl-2 outline-none bg-none border-none border-transparent focus:border-transparent ',
                            placeholder: "Email Address", autocomplete: "email", autofocus: true%>
        </div>
        <%= f.submit "Reset", class: "block w-full bg-primary-regular hover:bg-primary-dark mt-4 py-3 rounded text-white
           cursor-pointer font-bold mb-2 hover:-translate-y-1 delay-150 motion-reduce:transition-none motion-reduce:hover:transform-none"%>
        <div class="mt-6">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
