<div class="border-b hover:bg-background group flex justify-between items-center p-2 gap-2">
  <div class="w-[20%] flex justify-center shrink-0 ">
    <%= feedback.name %>
  </div>
  <div class="w-[30%] text-center text-gray-800 shrink-0 hidden lg:block">
    <%= feedback.email %>
  </div>
  <div class="flex-grow overflow-x-auto line-clamp-1 text-ellipsis text-primary-regular md:text-center md:line-clamp-none  ">
    <%= feedback.feedback %>
  </div>
  <div class="w-[10%] text-center shrink-0" data-controller="popover">
    <%= link_to admin_hotel_feedback_path(@hotel, feedback),
                class: "",
                data: {"turbo-method": :delete, "turbo-frame": dom_id(feedback), "turbo-confirm": "Are you sure to delete?"} do %>
      <button class="icon icon-button p-2 group-hover:bg-white self-center">
        <%= icon('fa-solid', 'trash', class: "text-error") %>
      </button>
    <% end %>
  </div>
</div>
