<div class="address-fields">
  <div class="input-container mt-1">
    <%= address_fields.label :dzongkhag, class: "input-label" %>
    <%= address_fields.text_field :dzongkhag, class: "input-field" %>
  </div>
  <div class="input-container mt-1">
    <%= address_fields.label :gewog, class: "input-label" %>
    <%= address_fields.text_field :gewog, class: "input-field" %>
  </div>
  <div class="input-container mt-1">
    <%= address_fields.label :street_address, class: "input-label" %>
    <%= address_fields.text_area :street_address, class: "input-field" %>
  </div>

</div>
