<footer class="w-full lg:h-[350px] bg-primary-regular py-12 text-white/60 flex flex-col items-center gap-2">
  <div class="w-[90%] mx-auto flex-grow">
    <div class="w-full flex flex-col lg:flex-row lg:justify-evenly lg:items-start gap-4">
      <div class="flex flex flex-col items-center gap-4 mb-4">
        <div class="w-24 h-24">
          <%= image_tag("logo.jpg", class: "w-full h-full rounded-full") %>
        </div>
        <h3 class="font-title text-4xl text-white">YOEZER HOTEL</h3>
      </div>
      <div class="flex flex-1 flex-col gap-8 md:flex-row md:justify-evenly md:items-start">
        <div class="flex flex-col items-start gap-4">
          <h3 class="font-title text-2xl text-white">DISCOVER</h3>
          <div class="flex flex-col gap-1">
            <p class="user-nav-link">Home</p>
            <p class="user-nav-link">Explore</p>
            <p class="user-nav-link">Rooms</p>
            <p class="user-nav-link">About</p>
          </div>
        </div>

        <% if @hotel && @hotel.address.any? %>
          <div class="flex flex-col items-start gap-4">
            <h3 class="font-title text-2xl text-white">CONTACT US</h3>
            <% address = @hotel.address.first %>
            <div class="flex flex-col gap-1">
              <p class="user-nav-link"><%= address.dzongkhag %>, <%= address.street_address %></p>
              <p class="user-nav-link">T: <%= @hotel.contact_no %></p>
              <p class="user-nav-link">E: <%= @hotel.email %></p>
            </div>
          </div>
        <% end %>

        <div class="flex flex-col items-start gap-4">
          <h3 class="font-title text-2xl text-white">EXPLORE</h3>
          <div class="flex flex-col gap-1">
            <p class="user-nav-link">Terms & Conditions</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center gap-10 p-4 my-2">
      <%= icon('fa-brands', 'facebook-f', class: "user-nav-link") %>
      <%= icon('fa-brands', 'instagram', class: "user-nav-link") %>
      <%= icon('fa-brands', 'twitter', class: "user-nav-link") %>
    </div>
  </div>

  <div class="text-center mt-auto">
    <p class="text-white">&copy; <%= Date.current.year %> Yoezer Hotel. All rights reserved.</p>
  </div>
</footer>
