<div class="w-full flex flex-col justify-center border-box h-[100px]">
  <div class="fw-full flex flex-row items-center px-4">
    <div class="self-start">
      <%= image_tag("logo.jpg", class: "avatar-wrapper rounded-full") %>
    </div>
    <div class="flex-grow flex justify-center gap-10">
      <%= link_to "Home", root_path, class: "hover:text-primary-regular" %>
      <%= link_to "Explore", root_path, class: "hover:text-primary-regular" %>
      <%= link_to "Rooms", root_path, class: "hover:text-primary-regular" %>
      <%= link_to "About Us", root_path, class: "hover:text-primary-regular" %>
      <%= link_to "Contact Us", root_path, class: "hover:text-primary-regular" %>
    </div>
  </div>
</div>