<div class="fixed ">
  <div class="relative" data-controller="sidebar" data-turbo-permanent>
    <div
      class="fixed inset-0 w-full h-full bg-black bg-opacity-50 z-10 hidden"
      data-sidebar-target="backdrop"
      data-action="click->sidebar#toggleSidebar"></div>
    <button
      class="absolute top-5 left-4 z-1000 bg-primary-regular text-white p-2 rounded md:hidden"
      data-action="click->sidebar#toggleSidebar"
      aria-label="Toggle Sidebar"
      aria-expanded="false"
      data-sidebar-target="sidebar_toggle">
      <%= icon("fa-solid", "bars", class: "w-6") %>
    </button>
    <div
      class="fixed z-50 inset-y-0 h-screen left-0 w-64 p-4 bg-primary-regular transform -translate-x-full
    transition-transform duration-300 md:translate-x-0 md:static md:w-64"
      data-sidebar-target="sidebar"
      data-turbo-permanent>
      <div class="sidebar-menu-container mb-2">
        <div class="self-end md:hidden">
          <button data-action="click->sidebar#toggleSidebar">
            <%= icon("fa-solid", "xmark", class: "text-white w-6") %>
          </button>
        </div>
        <div>
          <%= image_tag("logo.jpg", class: "w-16 rounded-full mx-auto") %>
          <h1 class="text-md py-2 text-white font-bold">Hotel Admin</h1>
        </div>
      </div>

      <hr class="border-white">

      <ul class="flex flex-col">
        <li class="mt-2">
          <div class="sidebar-menu-container">
            <button
              class="sidebar-menu-button group justify-between"
              id="dropdown-button"
              data-action="click->sidebar#toggleHotelMenu">
              <div>
                <%= icon("fa-solid", "hotel", class: "sidebar-menu-icon w-6") %>
                <span class="sidebar-menu-title">Hotel</span>
              </div>
              <%= icon("fa-solid", "chevron-down", class: "sidebar-menu-icon w-10") %>
            </button>

            <ul
              data-sidebar-target="hotelMenu"
              data-transition-enter="transition ease-out duration-100"
              data-transition-enter-start="transform opacity-0 scale-95"
              data-transition-enter-end="transform opacity-100 scale-100"
              data-transition-leave="transition ease-in duration-75"
              data-transition-leave-start="transform opacity-100 scale-100"
              data-transition-leave-end="transform opacity-0 scale-95">
              <li class="sidebar-menu-row <%= active_class_for_sidebar('admins/hotels') %>">
                <%= link_to admins_admin_root_path, class: "w-full flex items-center" do %>
                  <%= icon("fa-solid", "building", class: "w-6 #{icon_class_for_sidebar('admins/hotels')}" ) %>
                  <span class="text-sm ml-2 <%= icon_class_for_sidebar('admins/hotels') %>">Hotels</span>
                <% end %>
              </li>

              <li class="sidebar-menu-row <%= active_class_for_sidebar('admins/amenities') %>">
                <%= link_to  admins_amenities_path, class: "w-full flex items-center" do %>
                  <%= icon("fa-solid", "couch", class: "w-6 #{icon_class_for_sidebar('admins/amenities')}" ) %>
                  <span class="text-sm ml-2 <%= icon_class_for_sidebar('admins/amenities') %>">Amenities</span>
                <% end %>
              </li>

              <li class="sidebar-menu-row <%= active_class_for_sidebar('admins/offers') %>">
                <%= link_to admins_offers_path, class: "w-full flex items-center" do %>
                  <%= icon("fa-solid", "hand-holding-heart", class: "w-6 #{icon_class_for_sidebar('admins/offers')}" ) %>
                  <span class="text-sm ml-2 <%= icon_class_for_sidebar('admins/offers') %>">Offer</span>
                <% end %>
              </li>

              <li class="sidebar-menu-row <%= active_class_for_sidebar('admins/feedbacks') %>">
                <%= link_to admins_feedbacks_path, class: "w-full flex items-center" do %>
                  <%= icon("fa-solid", "comment", class: "w-6 #{icon_class_for_sidebar('admins/feedbacks')}") %>
                  <span class="text-sm ml-2  <%= icon_class_for_sidebar('admins/feedbacks') %>">Feedback</span>
                <% end %>
              </li>

              <li class="sidebar-menu-row <%= active_class_for_sidebar('admins/hotel_galleries') %>">
                <%= link_to admins_hotel_galleries_path, class: "w-full flex items-center" do %>
                  <%= icon("fa-solid", "image", class: "w-6 #{icon_class_for_sidebar('admins/hotel_galleries')}") %>
                  <span class="text-sm ml-2  <%= icon_class_for_sidebar('admins/hotel_galleries') %>">Explore</span>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="sidebar-menu-container">
            <button
              class="sidebar-menu-button group justify-between"
              id="dropdown-button"
              data-action="click->sidebar#toggleRoomMenu">
              <div>
                <%= icon("fa-solid", "bed", class: "sidebar-menu-icon w-6") %>
                <span class="sidebar-menu-title">Rooms</span>
              </div>
              <%= icon("fa-solid", "chevron-down", class: "sidebar-menu-icon w-10") %>
            </button>
            <ul
              data-sidebar-target="roomMenu"
              data-transition-enter="transition ease-out duration-100"
              data-transition-enter-start="transform opacity-0 scale-95"
              data-transition-enter-end="transform opacity-100 scale-100"
              data-transition-leave="transition ease-in duration-75"
              data-transition-leave-start="transform opacity-100 scale-100"
              data-transition-leave-end="transform opacity-0 scale-95">
              <li class="sidebar-menu-row <%= active_class_for_sidebar('admins/rooms') %>">
                <%= link_to admins_rooms_path, class: "w-full flex items-center" do %>
                  <%= icon("fa-solid", "circle-info", class: "w-6 #{ icon_class_for_sidebar('admins/rooms')}") %>
                  <span class="text-sm ml-2  <%= icon_class_for_sidebar('admins/rooms') %>">Details</span>
                <% end %>
              </li>

              <li class="sidebar-menu-row <%= active_class_for_sidebar('admins/room_categories') %>">
                <%= link_to admins_room_categories_path, class: "w-full flex items-center" do %>
                  <%= icon("fa-solid", "hands-holding-heart", class: "w-6 #{icon_class_for_sidebar('admins/room_categories')}") %>
                  <span class="text-sm ml-2  <%= icon_class_for_sidebar('admins/room_categories') %>">Room Class</span>
                <% end %>
              </li>

              <li class="sidebar-menu-row <%= active_class_for_sidebar('admins/bookings') %>">
                <%= link_to admins_bookings_path, class: "w-full flex items-center" do %>
                  <%= icon("fa-solid", "bed", class: "w-6 #{icon_class_for_sidebar('admins/bookings')}") %>
                  <span class="text-sm ml-2  <%= icon_class_for_sidebar('admins/bookings') %>">Bookings</span>
                <% end %>
              </li>

              <li class="sidebar-menu-row <%= active_class_for_sidebar('admins/facilities') %>">
                <%= link_to admins_room_categories_path, class: "w-full flex items-center" do %>
                  <%= icon("fa-solid", "hands-holding-heart", class: "w-6 #{icon_class_for_sidebar('admins/facilities')}") %>
                  <span class="text-sm ml-2  <%= icon_class_for_sidebar('admins/facilities') %>">Facility</span>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-menu-container">
          <%= link_to admins_employees_path, class: "w-5/6 flex items-center py-2 px-2 mb-2 rounded hover:bg-white group
       hover:transition ease-in-out duration-300 #{active_class_for_sidebar('admins/employees')}" do %>
            <%= icon("fa-solid", "user-group", class: "w-6 mr-1 #{icon_class_for_sidebar('admins/employees')} group-hover:text-primary-regular") %>
            <span class="font-title tracking-wider font-semibold <%= icon_class_for_sidebar('admins/employees') %> group-hover:text-primary-regular">Employee</span>
          <% end %>
        </li>

        <li class="sidebar-menu-container">
          <%= link_to admins_guests_path, class: "sidebar-menu-button group #{active_class_for_sidebar('admins/guests')}" do %>
            <%= icon("fa-solid", "person-shelter", class: "sidebar-menu-icon w-6 mr-1 #{icon_class_for_sidebar('admins/guests')}") %>
            <span class="sidebar-menu-title <%= icon_class_for_sidebar('admins/guests') %>">Guest</span>
          <% end %>
        </li>

        <li class="sidebar-menu-container">
          <%= link_to destroy_admin_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "sidebar-menu-button group #{active_class_for_sidebar('admins/sessions')}" do %>
            <%= icon("fa-solid", "arrow-right-from-bracket", class: "sidebar-menu-icon w-6 mr-1 #{icon_class_for_sidebar('admins/sessions')}") %>
            <span class="sidebar-menu-title <%= icon_class_for_sidebar('admins/sessions') %>">Sign Out</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
