<div class="relative" data-controller="sidebar" data-turbo-permanent>
  <div
    class="fixed inset-0 w-full h-full bg-black bg-opacity-50 z-10 hidden"
    data-sidebar-target="backdrop"
    data-action="click->sidebar#toggleSidebar"></div>
  <button
    class="absolute top-5 left-4 z-20 bg-primary-regular text-white p-2 rounded md:hidden"
    data-action="click->sidebar#toggleSidebar"
    aria-label="Toggle Sidebar"
    aria-expanded="false"
    data-sidebar-target="sidebar_toggle">
    <%= icon("fa-solid", "bars", class: "w-6") %>
  </button>
  <div
    class="fixed z-10 inset-y-0 h-screen left-0 w-64 p-4 bg-primary-regular transform -translate-x-full
    transition-transform duration-300 md:translate-x-0 md:static md:w-64"
    data-sidebar-target="sidebar"
    data-turbo-permanent>
    <div class="sidebar-menu-container mb-2">
      <div class="self-end md:hidden">
        <button data-action="click->sidebar#toggleSidebar">
          <%= icon("fa-solid", "xmark", class: "text-white w-6") %>
        </button>
      </div>
      <div>
        <%= image_tag("logo.jpg", class: "w-16 rounded-full mx-auto") %>
        <h1 class="text-md py-2 text-white font-bold">Hotel Admin</h1>
      </div>
    </div>

    <hr class="border-white">

    <ul class="flex flex-col">
      <li class="mt-2">
        <div class="sidebar-menu-container">
          <button
            class="w-5/6 flex flex-row items-center justify-between py-2 px-2 mb-2 rounded hover:bg-white group
            hover:transition ease-in-out duration-300"
            id="dropdown-button"
            data-action="click->sidebar#toggleHotelMenu">
            <div>
              <%= icon("fa-solid", "hotel", class: "text-white w-6 group-hover:text-primary-regular") %>
              <span class="font-title tracking-wider text-white font-semibold group-hover:text-primary-regular">Hotel</span>
            </div>
            <%= icon("fa-solid", "chevron-down", class: "text-white w-10 group-hover:text-primary-regular") %>
          </button>

          <ul
            data-sidebar-target="hotelMenu"
            data-transition-enter="transition ease-out duration-100"
            data-transition-enter-start="transform opacity-0 scale-95"
            data-transition-enter-end="transform opacity-100 scale-100"
            data-transition-leave="transition ease-in duration-75"
            data-transition-leave-start="transform opacity-100 scale-100"
            data-transition-leave-end="transform opacity-0 scale-95">
            <li class="sidebar-menu-row <%= current_page?(admin_hotels_path) ? "bg-white rounded" : "" %>">
              <%= link_to admin_hotels_path, class: "w-full flex items-center" do %>
                <%= icon("fa-solid", "house", class: "w-6 #{current_page?(admin_hotels_path) ? 'text-primary-regular' : 'text-white'}") %>
                <span class="text-sm ml-2  <%= current_page?(admin_hotels_path) ? "text-primary-regular" : "text-white" %>">Hotel Details</span>
              <% end %>
            </li>

            <li class="sidebar-menu-row <%= current_page?(admin_hotel_amenities_path(hotel)) ? "bg-white rounded" : "" %>">
              <%= link_to admin_hotel_amenities_path(hotel), class: "w-full flex items-center" do %>
                <%= icon("fa-solid", "hands-holding", class: "w-6 #{current_page?(admin_hotel_amenities_path(hotel)) ? 'text-primary-regular' : 'text-white'}") %>
                <span class="text-sm ml-2  <%= current_page?(admin_hotel_amenities_path(hotel)) ? "text-primary-regular" : "text-white" %>">Amenities</span>
              <% end %>
            </li>

            <li class="sidebar-menu-row <%= current_page?(admin_path) ? "bg-white rounded" : "" %>">
              <%= link_to admin_path, class: "w-full flex items-center" do %>
                <%= icon("fa-solid", "hand-holding-heart", class: "w-6 #{current_page?(admin_path) ? 'text-primary-regular' : 'text-white'}") %>
                <span class="text-sm ml-2  <%= current_page?(admin_path) ? "text-primary-regular" : "text-white" %>">Offer</span>
              <% end %>
            </li>

            <li class="sidebar-menu-row <%= current_page?(admin_hotel_feedbacks_path(hotel)) ? "bg-white rounded" : "" %>">
              <%= link_to admin_hotel_feedbacks_path(hotel), class: "w-full flex items-center" do %>
                <%= icon("fa-solid", "comment", class: "w-6 #{current_page?(admin_hotel_feedbacks_path(hotel)) ? 'text-primary-regular' : 'text-white'}") %>
                <span class="text-sm ml-2  <%= current_page?(admin_hotel_feedbacks_path(hotel)) ? "text-primary-regular" : "text-white" %>">Feedback</span>
              <% end %>
            </li>

            <li class="sidebar-menu-row <%= current_page?(admin_hotel_hotel_galleries_path(hotel)) ? "bg-white rounded" : "" %>">
              <%= link_to admin_hotel_hotel_galleries_path(hotel), class: "w-full flex items-center" do %>
                <%= icon("fa-solid", "image", class: "w-6 #{current_page?(admin_hotel_hotel_galleries_path(hotel)) ? 'text-primary-regular' : 'text-white'}") %>
                <span class="text-sm ml-2  <%= current_page?(admin_hotel_hotel_galleries_path(hotel)) ? "text-primary-regular" : "text-white" %>">Gallary</span>
              <% end %>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="sidebar-menu-container">
          <button
            class="w-5/6 flex flex-row items-center justify-between py-2 px-2 mb-2 rounded hover:bg-white group
            hover:transition ease-in-out duration-300"
            id="dropdown-button"
            data-action="click->sidebar#toggleRoomMenu">
            <div>
              <%= icon("fa-solid", "bed", class: "text-white w-6 group-hover:text-primary-regular") %>
              <span class="font-title tracking-wider text-white font-semibold group-hover:text-primary-regular">Rooms</span>
            </div>
            <%= icon("fa-solid", "chevron-down", class: "text-white w-10 group-hover:text-primary-regular") %>
          </button>
          <ul
            data-sidebar-target="roomMenu"
            data-transition-enter="transition ease-out duration-100"
            data-transition-enter-start="transform opacity-0 scale-95"
            data-transition-enter-end="transform opacity-100 scale-100"
            data-transition-leave="transition ease-in duration-75"
            data-transition-leave-start="transform opacity-100 scale-100"
            data-transition-leave-end="transform opacity-0 scale-95">
            <li class="sidebar-menu-row <%= current_page?(admin_path) ? "bg-white rounded" : "" %>">
              <%= link_to admin_path, class: "w-full flex items-center" do %>
                <%= icon("fa-solid", "circle-info", class: "w-6 #{current_page?(admin_path) ? 'text-primary-regular' : 'text-white'}") %>
                <span class="text-sm ml-2  <%= current_page?(admin_path) ? "text-primary-regular" : "text-white" %>">Details</span>
              <% end %>
            </li>

            <li class="sidebar-menu-row<%= current_page?(admin_path) ? "bg-white rounded" : "" %>">
              <%= link_to admin_path, class: "w-full flex items-center" do %>
                <%= icon("fa-solid", "hands-holding-heart", class: "w-6 #{current_page?(admin_path) ? 'text-primary-regular' : 'text-white'}") %>
                <span class="text-sm ml-2  <%= current_page?(admin_path) ? "text-primary-regular" : "text-white" %>">Room Class</span>
              <% end %>
            </li>

            <li class="sidebar-menu-row <%= current_page?(admin_path) ? "bg-white rounded" : "" %>">
              <%= link_to admin_path, class: "w-full flex items-center" do %>
                <%= icon("fa-solid", "bed", class: "w-6 #{current_page?(admin_path) ? 'text-primary-regular' : 'text-white'}") %>
                <span class="text-sm ml-2  <%= current_page?(admin_path) ? "text-primary-regular" : "text-white" %>">Bed Type</span>
              <% end %>
            </li>

            <li class="sidebar-menu-row <%= current_page?(admin_path) ? "bg-white rounded" : "" %>">
              <%= link_to admin_path, class: "w-full flex items-center" do %>
                <%= icon("fa-solid", "hands-holding-heart", class: "w-6 #{current_page?(admin_path) ? 'text-primary-regular' : 'text-white'}") %>
                <span class="text-sm ml-2  <%= current_page?(admin_path) ? "text-primary-regular" : "text-white" %>">Facility</span>
              <% end %>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-menu-container">
          <%= link_to admin_path, class: "w-5/6 flex items-center py-2 px-2 mb-2 rounded hover:bg-white group
       hover:transition ease-in-out duration-300 #{current_page?(admin_path) ? 'bg-white rounded' : ''}" do %>
            <%= icon("fa-solid", "user-group", class: "w-6 mr-1 #{current_page?(admin_path) ? 'text-primary-regular' : 'text-white group-hover:text-primary-regular'}") %>
            <span class="font-title tracking-wider font-semibold <%= current_page?(admin_path) ? "text-primary-regular" : "text-white group-hover:text-primary-regular" %>">Employee</span>
          <% end %>
      </li>

      <li class="sidebar-menu-container">
          <%= link_to admin_path, class: "w-5/6 flex items-center py-2 px-2 mb-2 rounded hover:bg-white group
       hover:transition ease-in-out duration-300 #{current_page?(admin_path) ? 'bg-white rounded' : ''}" do %>
            <%= icon("fa-solid", "person-shelter", class: "w-6 mr-1 #{current_page?(admin_path) ? 'text-primary-regular' : 'text-white group-hover:text-primary-regular'}") %>
            <span class="font-title tracking-wider font-semibold <%= current_page?(admin_path) ? "text-primary-regular" : "text-white group-hover:text-primary-regular" %>">Guest</span>
          <% end %>
      </li>

      <li class="sidebar-menu-container">
          <%= link_to destroy_admin_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "w-5/6 flex items-center py-2 px-2 mb-2 rounded hover:bg-white group
       hover:transition ease-in-out duration-300 #{current_page?(admin_path) ? 'bg-white rounded' : ''}" do %>
            <%= icon("fa-solid", "arrow-right-from-bracket", class: "w-6 mr-1 #{current_page?(admin_path) ? 'text-primary-regular' : 'text-white group-hover:text-primary-regular'}") %>
            <span class="font-title tracking-wider font-semibold <%= current_page?(admin_path) ? "text-primary-regular" : "text-white group-hover:text-primary-regular" %>">Sign Out</span>
          <% end %>
      </li>
    </ul>
  </div>
</div>
