<div class="w-full flex flex-col lg:flex-row lg:justify-between lg:items-center gap-8 p-6" >
  <div class="relative user-card-container overflow-hidden">
    <div class="relative w-full h-full ">
      <%= image_tag((offer&.image&.attached? ? offer.image : "https://placehold.co/50x50"),
                    class: "image rounded-none") %>
      <div class="absolute inset-0 bg-primary-regular bg-opacity-10"></div>
    </div>
  </div>

  <div class="p-4 user-card-container flex flex-col flex-grow border">
    <div>
      <h3 class="title"><%= offer.title %></h3>
      <p class="line-clamp-5 text-text-color/50 mt-2 lg:mr-8 text-balance text-sm xl:text-base text-ellipsis">
        <%= offer.description %>
      </p>
    </div>
    <div class="mt-4">
      <p class="leading-[3] ">
        <span class="title block">Discount</span>
        <span class="text-2xl text-primary-regular font-bold"><%= offer.discount %>%</span>
      </p>
    </div>
    <div class="flex flex-col gap-2 my-2 lg:my-4 ">
      <p class="flex">
        <span class="w-32">Offer Start On:</span>
        <span class=""><%= offer.start_time.strftime("%a %e, %b, %Y") %></span>
      </p>
      <p class="flex">
        <span class="w-32">Offer Ends On:</span>
        <span class=""><%= offer.end_time.strftime("%a %e, %b, %Y") %></span>
      </p>
    </div>
  </div>

</div>


