<div class="relative w-full h-[80vh] lg:h-screen" data-aos="zoom-in-out" data-aos-duration="2000">
  <div class="absolute inset-0 w-full h-full" data-aos="zoom-out-down" data-aos-duration="3000">
    <%= image_tag('banner.jpg', class: "object-cover w-full h-full") %>
  </div>
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>

  <div class="absolute-layout text-white gap-4 md:gap-10 px-4 text-center">
    <h1 class="user-heading-title">YOEZER HOTEL</h1>
    <h1 class="user-heading-title">YOUR HOME</h1>
    <p class="text-sm md:text-base lg:text-lg">Every moment feels like the first time in paradise view</p>
    <div class="mt-4 md:mt-6">
      <%= link_to "Book Now", root_path, class: "user-btn" %>
    </div>
  </div>
</div>


<div class="w-full my-8">
  <div class="w-full md:w-5/6 mx-auto flex flex-col justify-center gap-10">
    
    <div class="w-full my-4 flex flex-col gap-10 p-6"
         data-aos="fade-up"
         data-aos-duration="1000"
         data-aos-offset="0">
        <%= render 'home/welcome', hotel: @hotel %>
    </div>

    <% if @amenities.present? %>
      <div class="w-full my-4"
           data-aos="fade-up"
           data-aos-duration="1000">
          <h1 class="user-title">FACILITIES</h1>
          <div class="user-card-layout">
            <% @amenities.each do |amenity| %>
              <%= render 'home/amenity_card', amenity: amenity %>
            <% end %>
          </div>
      </div>
    <% end %>

    <% if @room_categories.present? %>
      <div class="w-full my-4"
           data-aos="fade-up"
           data-aos-duration="1000">
        <h1 class="user-title">ROOMS</h1>
        <div class="user-card-layout">
          <% @room_categories.each do |room_category| %>
            <%= render 'home/room_category_card', room_category: room_category %>
          <% end %>
        </div>
      </div>
    <% end %>


    <% if @offers.present? %>
      <div class="w-full my-4"
           data-aos="fade-up"
           data-aos-duration="1000"
           data-aos-offset="0">
        <h1 class="user-title">OFFER</h1>
        <div class="px-6 lg:p-0">
          <% @offers.each do |offer| %>
            <%= render 'home/offer_card', offer: offer %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @hotel.feedbacks.present? %>
      <div class="w-full my-4 p-6"
           data-aos="fade-up"
           data-aos-duration="1000"
           data-aos-offset="0">
        <h1 class="user-title mb-4 text-center">TESTIMONIAL</h1>
        <div class="relative user-card-container lg:w-3/4 h-[150px] overflow-hidden" data-controller="slideshow">
          <% @hotel.feedbacks.limit(5).each_with_index do |feedback, index| %>
            <div data-slideshow-target="slide"
                 class="absolute inset-0 w-full h-full flex items-center justify-center transition-opacity duration-1000 ease-in-out <%= index == 0 ? 'opacity-100' : 'opacity-0' %>">
              <%= render 'home/testimonial_card', feedback: feedback %>
            </div>
          <% end %>

          <div class="absolute inset-0 flex justify-between items-center">
            <button data-action="click->slideshow#prev">
              <%= icon('fa-solid', 'chevron-left', class: "fa-2x text-text-color/20") %>
            </button>
            <button data-action="click->slideshow#next">
              <%= icon('fa-solid', 'chevron-right', class: "fa-2x text-text-color/20") %>
            </button>
          </div>
        </div>
      </div>
    <% end %>

    <div class="w-full flex justify-center"
         data-aos="fade-up"
         data-aos-duration="1000"
         data-aos-offset="0">
      <%= link_to "Contact Us", contact_path, class: "user-btn" %>
    </div>
  </div>
</div>


