<div class="relative w-full h-[80vh] lg:h-screen" data-aos="zoom-in-out" data-aos-duration="2000">
  <div class="absolute inset-0 w-full h-full" data-aos="zoom-out-down" data-aos-duration="3000">
    <%= image_tag('banner.jpg', class: "object-cover w-full h-full") %>
  </div>
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>

  <div class="absolute-layout text-white gap-4 md:gap-10 px-4 text-center">
    <h1 class="user-heading-title">YOEZER HOTEL</h1>
    <h1 class="user-heading-title">YOUR HOME</h1>
    <p class="text-sm md:text-base lg:text-lg">Every moment feels like the first time in paradise view</p>
    <div class="mt-4 md:mt-6">
      <%= link_to "Book Now", root_path, class: "bg-white rounded-sm hover:shadow-lg rounded-none text-primary-regular hover:bg-primary-regular hover:text-white
      transition duration-300 px-6 py-2 md:px-8 md:py-3 text-lg md:text-xl" %>
    </div>
  </div>
</div>
<div class="w-full my-8">
  <div class="w-full md:w-5/6 mx-auto flex flex-col justify-center gap-10">
    <div class="w-full my-4"
         data-aos="fade-up"
         data-aos-duration="1000">
      <h1 class="user-title">FACILITIES</h1>
      <div class="user-card-layout">
        <% @amenities.each do |amenity| %>
          <%= render 'home/amenity_card', amenity: amenity %>
        <% end %>
      </div>
    </div>

    <div class="w-full my-4"
         data-aos="fade-up"
         data-aos-duration="1000">
      <h1 class="user-title">ROOMS</h1>
      <div class="user-card-layout">
        <% @room_categories.each do |room_category| %>
          <%= render 'home/room_category_card', room_category: room_category %>
        <% end %>
      </div>
    </div>

    <div class="w-full my-4"
         data-aos="fade-up"
         data-aos-duration="1000"
         data-aos-offset="0">
      <h1 class="user-title">OFFER</h1>
      <div class="px-6 lg:p-0">
        <% @offers.each do |offer| %>
          <%= render 'home/offer_card', offer: offer %>
        <% end %>
      </div>
    </div>

    <div class="w-full my-4"
         data-aos="fade-up"
         data-aos-duration="1000"
         data-aos-offset="0">
      <div class="px-6 flex flex-col items-center justify-center gap-10">
        <p class="text-text-color/50 text-center text-balance">
          Enjoy the luxurious room with great experience and the hotel is all about
          including room booking and providing hotel information so customer can book.
          Enjoy the luxurious room with great experience and the hotel is all about
          including room booking and providing hotel information so customer can book.
        </p>
        <%= link_to "About Us", root_path, class: "btn" %>
      </div>
    </div>

  </div>
</div>
