<h1>Booking Confirmation</h1>

<p>Dear <%= @booking.guest.first_name %>,</p>

<p>Thank you for booking with us at <%= @hotel.name %>! Your booking update details are as follows:</p>

<ul>
  <li>Check-in Date: <%= @booking.checkin_date.strftime("%d/%m/%Y") %></li>
  <li>Check-out Date: <%= @booking.checkout_date.strftime("%d/%m/%Y") %></li>
  <li>Room: <%= @booking.room.room_number %></li>
  <li>Room: <%= @booking.room.room_category.name %></li>
</ul>

<p>If you have any questions, feel free to contact us at <%= @hotel.email %>.</p>

<p>Best regards,<br><%= @hotel.name %></p>
