
<div class="m-4">
  <%= form_with(model:[:admin, hotel], local: true, class: "flex flex-col justify-center") do |f| %>
    <% if @hotel.errors.any? %>
      <div id="error_explanation" class="flex flex-col items-center">
        <h2 class="text-text-color/50"><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>
        <ul class="text-error">
          <% @hotel.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-1 w-full">
      <h2 class="title">Hotel Info</h2>
<!--      flex p-2 items-center;-->
      <div class="input-container">
        <%= f.label :name, class: "w-32 shrink-0 self-start pt-2" %>
        <%= f.text_field :name, class: "input-field " %>
      </div>
      <div class="input-container">
        <%= f.label :description, class: "w-32 shrink-0 self-start pt-2" %>
        <%= f.textarea :description, class: "flex-grow break-words text-wrap input-field"  %>
      </div>
      <div class="input-container">
        <%= f.label :email, class: "w-32" %>
        <%= f.email_field :email, class: "input-field" %>
      </div>
      <div class="input-container">
        <%= f.label :contact_no, class: "w-32" %>
        <%= f.text_field :contact_no, class: "input-field" %>
      </div>

    </div>
    <hr />
    <div class="my-2">
      <h2 class="title">Address</h2>
      <%= f.fields_for :address do |af| %>
        <div class="input-container mt-1 ">
          <%= af.label :dzongkhag, class: "w-32" %>
          <%= af.text_field :dzongkhag, class: "input-field"  %>
        </div>
        <div class="input-container">
          <%= af.label :gewog, class: "w-32" %>
          <%= af.text_field :gewog, class:"input-field" %>
        </div>
        <div class="input-container">
          <%= af.label :street_address, class: "w-32 self-start pt-2" %>
          <%= af.textarea :street_address, class: "input-field" %>
        </div>
      <% end %>
    </div>
    <hr class="bg-primary-regular h-0.5" />
    <div class="flex items-center mt-4 gap-5">
      <%= f.submit "Save", class: "btn" %>
      <%= link_to "Cancel", admin_hotels_path(hotel), class: "btn" %>
    </div>

  <% end %>
</div>

