<turbo-frame id="<%= dom_id hotel %>"  class="block">
  <div class="m-4" role="region" aria-labelledby="hotel-info-<%= dom_id hotel %>">
    <div class="flex flex-col justify-center">
      <div class="mb-2">
        <h2 class="title">Hotel Info</h2>
        <p class="input-container mt-1">
          <span class="w-32">Name:</span>
          <span class="input-value"><%= hotel.name %></span>
        </p>
        <p class="input-container">
          <span class="w-32 shrink-0 self-start">Description:</span>
          <span class="flex-grow break-words text-wrap input-value"><%= hotel.description %></span>
        </p>
        <p class="input-container">
          <span class="w-32">Email:</span>
          <span class="input-value"><%= hotel.email %></span>
        </p>
        <p class="input-container">
          <span class="w-32">Contact No:</span>
          <span class="input-value"><%= hotel.contact_no %></span>
        </p>
      </div>
      <hr />
      <div class="my-2">
        <h2 class="title">Address</h2>
        <% hotel.address.each do |addr| %>
          <p class="input-container mt-1">
            <span class="w-32">Dzongkhag:</span>
            <span class="input-value"><%= addr&.dzongkhag %></span>
          </p>
          <p class="input-container">
            <span class="w-32">Gewog:</span>
            <span class="input-value"><%= addr&.gewog %></span>
          </p>
          <p class="input-container">
            <span class="w-32">Street Address:</span>
            <span class="input-value"><%= addr&.street_address %></span>
          </p>
          <hr class="last:hidden my-2">
        <% end %>

      </div>
      <hr class="bg-primary-regular h-0.5" />
      <div class="flex flex-row items-center justify-between mt-4">
        <div class="flex flex-col items-center justify-center">
          <div role="img" role="img" aria-label="<%= @hotel_ratings.to_s %> stars">
            <% if @rating.present? %>
              <% @rating[:full_stars]&.times do %>
                <%= icon('fa-solid', 'star', class: "text-rating") %>
              <% end %>

              <% if @rating[:half_stars] %>
                <%= icon('fa-solid', 'star-half-stroke', class: "text-rating") %>
              <% end %>

              <% @rating[:empty_stars]&.times do %>
                <%= icon('fa-solid', 'star', class: "text-text-color/20") %>
              <% end %>
            <% else %>
              <p>0</p>
            <% end %>

          </div>
          <p class="font-title font-bold tracking-widest text-primary-regular text-2xl "><%= @hotel_ratings.to_s %></p>
        </div>
        <div>
          <%= link_to "Edit", edit_admin_hotel_path(hotel), class: "btn" %>
        </div>
      </div>

    </div>
  </div>
</turbo-frame>