<div class="m-4">
  <div class="card-container">
    <div class="card">
      <div class="m-4">
        <div class="flex justify-between items-center mb-4">
          <h2 class="title">Feedback</h2>
          <div>
            <%= form_with(url: admins_hotel_feedbacks_path(@hotel),
                          method: :get, data: { turbo_frame: "search_result", turbo_action: "advance", controller: "search" }) do |form| %>
              <%= form.search_field :query, class: "block p-2 mt-4 text-sm rounded border-2 focus:shadow-none focus:border-primary-regular focus:outline-none", placeholder: "Search", data: { action: "input->search#search"} %>
            <% end %>
          </div>
        </div>
        <div class="my-4">
          <div class="w-full overflow-hidden">
            <div class="bg-background p-2 border-b">
              <div class="flex justify-between items-center text-sm font-medium text-gray-700 p-2">
                <h3 class="w-[20%] text-center">Name</h3>
                <h3 class="w-[30%] text-center hidden lg:block">Email</h3>
                <h3 class="flex-1 text-center">Feedback</h3>
                <h3 class="w-[10%] text-center">Action</h3>
              </div>
            </div>
            <div id="feedbacks" class="text-sm">
              <turbo-frame id="search_result">
                <% if @feedbacks.blank? %>
                  <h3 class="text-text-color/50 text-center mt-4 p-2">No search result found!</h3>
                <% else %>
                  <% @feedbacks.each do |feedback| %>
                    <turbo-frame id="feedback_<%= feedback.id %>">
                      <%= render "admins/feedbacks/feedback", feedback: feedback %>
                    </turbo-frame>
                  <% end %>
                <% end %>
                <div class="flex justify-end items-center mt-2">
                  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
                </div>
              </turbo-frame>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
