<div class="card-wrapper rounded-none shadow-lg card-bg mt-2 flex flex-col gap-2 z-0"
   data-aos="fade-up"
   data-aos-duration="1000"
   data-aos-offset="0">
  <div class="relative w-full h-1/2">
    <%= image_tag(room&.image&.attached? ? room.image: "https://placehold.co/200x200", class:"image rounded-none" ) %>
    <p class="absolute top-0 left-0 p-2 text-white <%= status_class(room.status) %>">
      <%= room.status.to_s.humanize %>
    </p>
  </div>
  <div class="flex justify-between items-center p-2">
    <div>
      <h3 class="title"><%= room.room_category&.name %></h3>
      <div class="flex items-center gap-2">
        <h2 class="text-primary-regular <%= 'line-through text-base' if offers.present? %>">Nu. <span class="font-bold"><%= room.base_price.to_i.to_s %></span></h2>
        <% if offers.present? %>
          <h2 class="text-primary-regular">
            Nu. <span class="font-bold text-lg"><%= calculate_discounted_room_price(room.base_price, offers)[:discounted_price] %></span>
            <span class="text-sm">(<%= calculate_discounted_room_price(room.base_price, offers)[:total_discount] %>% off)</span>
          </h2>
        <% end %>
      </div>
    </div>
    <div class="self-end">
      <p class="">
        <%= icon('fa-solid', 'hashtag', class: "text-text-color/50") %>
        <span class="text-text-color/50 font-bold "><%= room.room_number %></span>
      </p>
    </div>
  </div>

  <hr class="border border-primary-regular h-0.5">
  <div class="flex flex-row justify-between items-center mb-2 px-2">
    <div class="flex flex-col items-center justify-center">
      <% rating = room.room_ratings.average(:rating) || 0 %>
      <% stars = Room.calculate_rating(rating) %>
      <%= render 'shared/rating', rating: rating, stars: stars %>
      <p class="font-title font-bold tracking-widest text-primary-regular text-2xl "><%= rating.round(1).to_s %></p>
    </div>
    <%= link_to "View More",room_path(room), class:"user-btn p-3", data: { turbo_frame: "_top"} %>
  </div>
</div>
