<div class="relative w-full h-[80vh] lg:h-screen" data-aos="zoom-in-out" data-aos-duration="2000">
  <div class="absolute inset-0 w-full h-full" data-aos="zoom-out-down" data-aos-duration="3000">
    <%= image_tag(@room.image.attached? ? @room.image: "https://placehold.co/50x50", class: "object-cover w-full h-full") %>
  </div>
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>

  <div class="absolute-layout text-white gap-4 md:gap-10 px-4 text-center">
    <h1 class="user-heading-title">YOUR ROOM</h1>
  </div>
</div>

<div class="w-full my-8">
  <div class="w-full md:w-5/6 mx-auto"  data-controller="booking">
    <%= render 'shared/booking_success' %>
    <%= render 'shared/booking_error' %>
    <div class="w-full my-4 p-6"
         id="booking_form"
         data-aos="fade-up"
         data-aos-duration="1000">
      <div class="user-card-container h-auto py-2 lg:w-full md:h-auto">
        <%= render 'bookings/form', booking: @booking, hotel: @hotel %>
      </div>
    </div>

    <div
      class="w-full my-4 flex flex-col gap-10 p-6"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="0">
      <h1 class="user-title mb-0">ROOM</h1>
      <div class="w-full flex flex-col lg:flex-row lg:justify-between lg:items-center gap-8" >
        <%= render "rooms/detail", room: @room %>
        <div class="relative user-card-container overflow-hidden" data-controller="slideshow">
          <% @room.images.each_with_index do |image, index| %>
            <div data-slideshow-target="slide"
                 class="absolute inset-0 w-full h-full transition-opacity duration-1000 ease-in-out <%= index == 0 ? 'opacity-100' : 'opacity-0' %>">
              <%= image_tag(image || "https://placehold.co/500x300", class: "object-cover w-full h-full") %>
            </div>
          <% end %>
          <div class="absolute inset-0 flex justify-between items-center px-4">
            <button data-action="click->slideshow#prev">
              <%= icon('fa-solid', 'chevron-left', class: "fa-2x text-white") %>
            </button>
            <button data-action="click->slideshow#next">
              <%= icon('fa-solid', 'chevron-right', class: "fa-2x text-white") %>
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="w-full my-4 p-6"
         data-aos="fade-up"
         data-aos-duration="1000">
      <% if @room.room_facilities.present? %>
        <h1 class="user-title">FACILITIES</h1>
        <div class="user-card-layout">
          <% @room.room_facilities.each do |room_facility| %>
            <%= render 'rooms/facility_card', room_facility: room_facility %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
