<div class="relative w-full h-[80vh] lg:h-screen" data-aos="zoom-in-out" data-aos-duration="2000">
  <div class="absolute inset-0 w-full h-full" data-aos="zoom-out-down" data-aos-duration="3000">
    <%= image_tag('banner.jpg', class: "object-cover w-full h-full") %>
  </div>
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>

  <div class="absolute-layout text-white gap-4 md:gap-10 px-4 text-center">
    <h1 class="user-heading-title">YOEZER HOTEL</h1>
    <h1 class="user-heading-title">YOUR HOME</h1>
    <p class="text-sm md:text-base lg:text-lg">Every moment feels like the first time in paradise view</p>
    <div class="mt-4 md:mt-6">
      <%= link_to "Book Now", root_path, class: "bg-white rounded-sm hover:shadow-lg rounded-none text-primary-regular hover:bg-primary-regular hover:text-white
      transition duration-300 px-6 py-2 md:px-8 md:py-3 text-lg md:text-xl" %>
    </div>
  </div>
</div>


<div class="w-full my-8">
  <div class="w-full md:w-5/6 mx-auto">
    <div class="w-full my-4 mx-auto"
         data-aos="fade-up"
         data-aos-duration="1000">
      <div class="grid grid-cols-3 place-content-between  gap-4">
        <div class="w-full h-[300px] " data-aos="fade-up"
             data-aos-duration="1000">
          <%= image_tag("1.jpeg", class: "object-cover w-full h-full") %>
        </div>
        <div class="col-span-2 h-[300px] " data-aos="fade-up"
             data-aos-duration="1000">
          <%= image_tag("2.jpeg", class: "object-cover w-full h-full") %>
        </div>
        <div class="w-full row-span-2" data-aos="fade-up"
             data-aos-duration="1000">
          <%= image_tag("3.jpeg", class: "object-cover w-full h-full") %>
        </div>
        <div class="w-full  " data-aos="fade-up"
             data-aos-duration="1000">
          <%= image_tag("banner.jpg", class: "object-cover w-full h-full") %>
        </div>
        <div class="w-full row-span-2" data-aos="fade-up"
             data-aos-duration="1000">
          <%= image_tag("6.jpeg", class: "object-cover w-full h-full") %>
        </div>
        <div class="w-full" data-aos="fade-up"
             data-aos-duration="1000">
          <%= image_tag("banner.jpg", class: "object-cover w-full h-full") %>
        </div>
        <div class="col-span-2 h-[300px] " data-aos="fade-up"
             data-aos-duration="1000">
          <%= image_tag("7.jpeg", class: "object-cover w-full h-full") %>
        </div>
        <div class="w-full h-[300px] " data-aos="fade-up"
             data-aos-duration="1000">
          <%= image_tag("room.jpg", class: "object-cover w-full h-full") %>
        </div>
      </div>
    </div>
  </div>
</div>


