<div class="border-b text-sm hover:bg-background group flex justify-between items-center text-text-color/50 p-2">

  <div class="flex-1 md:w-[15%] text-center">
    <%= link_to admins_hotel_booking_path(@hotel, booking), data: { turbo_frame: "_top" } do %>
      <p class="hover:text-primary-dark underline"><%= booking.room.room_number %></p>
    <% end %>
  </div>
  <div class="w-[15%] text-center hidden xl:block">
    <p class="break-words"><%= booking.room.room_category.name %></p>
  </div>

  <div class="flex-1 md:w-[15%] text-center">
    <p class="break-words"><%= booking.guest.first_name %> <%= booking.guest.last_name %> </p>
  </div>

  <div class="w-[15%] text-center hidden lg:block">
    <p class="break-words"><%= booking.total_amount.to_i.to_s %></p>
  </div>

  <div class="w-[15%] text-center hidden xl:block">
    <p class="break-words <%= room_status_class(booking.room.status) %> "><%= booking.room.status.to_s.humanize %></p>
  </div>

  <div class="w-[15%] text-center hidden lg:block">
    <p class="break-words <%= payment_status_class(booking.payment_status) %> "><%= booking.payment_status.to_s.humanize %></p>
  </div>

  <div class="w-[15%] text-center hidden md:block">
    <div class="flex justify-center items-center gap-4">
      <%= link_to admins_hotel_booking_path(@hotel, booking), class: "hidden md:block", data: {"turbo-method": :delete, "turbo-confirm": "Are you sure to delete?", turbo_frame: "_top"} do %>
        <button class="icon icon-button p-2 group-hover:bg-white hidden md:block">
          <%= icon('fa-solid', 'trash', class: "text-error") %>
        </button>
      <% end %>
    </div>
  </div>
</div>
