<div class="border-b hover:bg-background group flex justify-between items-center p-2">
  <div class="w-[20%] flex justify-center">
    <%= image_tag((room_category&.image&.attached? ? room_category.image : "https://placehold.co/50x50"),
                  class: "avatar avatar-wrapper") %>
  </div>
  <div class="flex-1  text-center">
    <%= room_category.name %>
  </div>
  <div class="w-[30%] text-center" data-controller="popover">
    <div
      class="fixed inset-0 w-full h-full bg-black bg-opacity-30 z-10 hidden"
      data-popover-target="backdrop"
      data-action="click->popover#toggle"></div>

    <div class="flex justify-center items-center gap-4">
      <%= link_to edit_admins_hotel_room_category_path(@hotel, room_category), class: "hidden md:block", data: { turbo_frame: "room_category"} do %>
        <button class="icon icon-button p-2 group-hover:bg-white">
          <%= icon('fa-solid', 'pen-to-square', class: "text-secondary") %>
        </button>
      <% end %>

      <%= link_to admins_hotel_room_category_path(@hotel, room_category), class: "hidden md:block", data: { turbo_method: :delete, turbo_frame: "_top", turbo_confirm: "Are you sure to delete?"} do %>
        <button class="icon icon-button p-2 group-hover:bg-white hidden md:block">
          <%= icon('fa-solid', 'trash', class: "text-error") %>
        </button>
      <% end %>
      <button class="icon icon-button p-2 group-hover:bg-white md:hidden" data-action="click->popover#toggle">
        <%= icon('fa-solid', 'ellipsis', class: "text-primary-regular") %>
      </button>

      <div data-popover-target="popover" class="hidden absolute mt-0 right-4  bg-white border rounded shadow-lg z-50">
        <div class="flex flex-col items-start">
          <%= link_to 'Edit', edit_admins_hotel_room_category_path(@hotel, room_category), class: "block px-4 py-2 underline text-secondary", data: { turbo_frame: "room_category"} %>
          <%= link_to 'Delete', admins_hotel_room_category_path(@hotel, room_category), data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete?", turbo_frame: "_top" }, class: "block border-t px-4 py-2 underline text-error" %>
        </div>
      </div>
    </div>
  </div>
</div>
