<div class="m-4">
  <%= form_with(model: [:admins, room_category], local: true, class: "flex flex-col justify-center") do |f| %>
    <% if room_category.errors.any? %>
      <div id="error_explanation" class="flex flex-col items-center">
        <h2 class="text-text-color/50"><%= pluralize(room_category.errors.count, "error") %>:</h2>
        <ul class="text-error">
          <% room_category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-2 p-2">
      <div class="flex flex-col" data-controller="avatar">
        <div class="relative flex flex-row justify-center shrink-0">
          <%= image_tag((room_category&.image&.attached? ? room_category.image : "https://placehold.co/200x200"),
                        class: "image-md", data: { avatar_target: "imagePreview"}) %>
          <div class="self-start ml-2 icon p-4 hover:cursor-pointer" data-action="click->avatar#selectImage">
            <%= icon('fa-solid', 'pen-to-square', class: "text-primary-regular") %>
          </div>
          <%= f.file_field :image, accept: "image/*", data: {avatar_target: "avatarUpload", action: "change->avatar#showPreview"}, class: "hidden" %>
        </div>
      </div>
    </div>
    <div class="my-1 w-full">
      <div class="input-container">
        <%= f.label :name, class: "input-label" %>
        <%= f.text_field :name, class: "input-field" %>
      </div>
    </div>
    <hr class="bg-primary-regular h-0.5">
    <div class="flex items-center mt-4 gap-5">
      <%= f.submit "Save", class: "btn", data: { turbo_frame: "_top"} %>
      <%= link_to "Cancel", admins_room_categories_path, class: "btn", data: { turbo_frame: "_top"} %>
    </div>
  <% end %>
</div>
