<div class="w-full flex flex-col lg:flex-row <%= index.even? ? 'lg:flex-row-reverse' : '' %> lg:justify-between lg:items-center gap-10"
     data-aos="fade-<%= index.even? ? 'right' : 'left' %>"
     data-aos-duration="1000">

  <div class="flex-1 flex flex-col items-center lg:items-start ">
    <h3 class="user-title"><%= feature.name %></h3>
    <p class="user-description"><%= feature.description %></p>
  </div>

  <div class="user-card-container">
    <%= image_tag(feature.image.attached? ? feature.image : "https://placehold.co/500x300",
                  class: "object-cover w-full h-full transition-transform duration-1000 hover:scale-105") %>
  </div>
</div>
